<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido  {{ title }}!
  </h1>
</div>
<h2>Crea tu cuenta con emial y password: </h2>
<section >
  <div class="form-group">
    <label>Email address</label>
    <input type="email" #email required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" #password required>
    <label class="error">{{errorMessage}}</label>
    <label class="success">{{successMessage}}</label>

  </div>
  <button  (click)="crearUsuarioPorEmail()">Registrar</button> <br>
  <button (click)="resetarContrasena()" >Reset Password</button> <br>
  <button (click)="loguear()" >login</button> <br>

</section>
<ul>
  <li><label class="">{{resetInfo}}</label></li>
  <li><label class="">{{loginMessage}}</label></li>
</ul>

