
<form  #userForm="ngForm" >
  <h3>{{title}}</h3>
  <hr>

  <label for="email">Email</label>
  <input type="email"
  [(ngModel)]="model.email" #email="ngModel" [ngModelOptions]="{standalone: true}" required >


  <label for="password">Password</label>
  <input type="password"
  [(ngModel)]="model.password" #password="ngModel"  [ngModelOptions]="{standalone: true}" required >


  <button type="submit"  [disabled]="!userForm.valid"  (click)="crearUsuarioPorEmail()">Registrar</button> 
  
  <button (click)="resetarContrasena()" >Reset Password</button> <br>
  <button (click)="loguear()" >login</button> <br>

  <span *ngIf="userForm.valid" >Form is valid</span> <br>

  <label class="error">{{errorMessage}}</label>
  <label class="success">{{successMessage}}</label>

  <ul>
    <li><label class="">{{resetInfo}}</label></li>
    <li><label class="">{{loginMessage}}</label></li>
  </ul>

</form>

